*.sca
*.exe
**out/clang-debug
**out/clang-release
##**cproject
*nedexclusions
*nedfolders
*oppbuildspec
*project
**settings
*metadata/**
**DS_Store
*clangd
simulations**
/src/Makefile
/src/messages/*h
/src/messages/*cc
.oppfeaturestate
**dbg
**compile_flags.txt
**DTSynchronizer
class-diagram.png
